 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:Arial, Helvetica, sans-serif;
        }

        nav {
            margin-top: 05px;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

body {
            line-height: 2.6;
            background-color: #dabbd4;
            color: #333;
            
        }

h1{
    text-align: center;
    border: 10px;
    padding: 10px;
    bottom: 5px;
}

h2{
    text-align: center;
    color:#a6268a;
}

h3{
    text-align: center;
    color:#a6268a;
}

h4{
    color: #050205;
    font-size: 15px;
}

header {
            background-color: #a6268a;
            color: white;
            padding: 20px 0;
            text-align: center;
            border-radius: 2px;
        }
.code{
    background-color: #333;
    display: inline;
    color: #feedfe;
}

ul {
            margin-left: 5px;
        }
li{
    margin-left: 30px;
}

section{
    margin-top:10px ;
    margin-left:150px;
    margin-right:150px;
    padding: 20px;
    padding-top: 1px;
    border: 2px solid rgb(214, 194, 210);
    border-top: 1px solid rgb(214, 194, 210);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(243, 235, 235, 0.1);
    background-color: #feedfe;
    
}

footer {
            text-align: center;
            padding: 15px 0;
            background-color: #a6529e;
            color: white;
            margin-top: 20px;
        }

 @media (max-width: 600px) {
            nav a {
                display: block;
                margin: 10px 0;
            }
        }